@font-face {
    font-family: 'Marianne';
    src: url('../fonts/Marianne/Marianne/fontes\ web/Marianne-Regular.woff') format('woff');
}

body {
    font-family: 'Marianne', sans-serif !important;
}

#details-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
#details-table th, #details-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
#details-table th {
    background-color: #f2f2f2;
}

html body div div.container form button.btn.btn-primary.update-button {
    margin-bottom: 10px;
}

.pdf-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 1001;
    display: none;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 90%;
    max-width: 1200px;
    max-height: 95vh;
    margin: 0;
}

@media (max-width: 768px) {
    .pdf-modal {
        width: 95%;
        height: 95%;
    }
}